{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="login">

{% block content %}
<div>

 <div class="retour"> 
    <p class="register-retour my-3 mx-3">
        <a href="{% url 'home' %}" class="text-warning fs-6">← Retour à l'accueil</a>
    </p>
  </div>
  
<form  method="POST" class="connexion mt-5 mx-auto p-4">
  {% csrf_token %}
    <h2 class="text-center text-warning">Connexion</h2>
    
    <div class="mb-3">
      <label class="form-label text-light fw-bold">{{ form.username.label }}</label>
        {{ form.username }}
    </div>

    <div class="mb-3">
      <label class="form-label text-light fw-bold">{{ form.password.label }}</label>
        {{ form.password }}
    </div>
    
    <div class="mb-3 d-flex justify-content-between form-check">
    <div><input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-label text-light fw-bold">se souvenir de moi</label></div>
        <a href="" class="pas-compte fw-bold">Mot de passe oublié?</a>
    </div>
    <div class="mb-3 d-flex">
      <p class="fw-bold">Pas encore de compte?</p>
    <a href="{% url 'inscription' %}" class="text-warning fw-bold ms-3"> Inscrivez-vous</a>
    </div>
    <div class="mb-3">
    <button type="submit" class="btn btn-success fw-bold w-100">Connexion</button>
  </div>  
</form>

</div>
{% endblock %}
</body>
</html>
